*,
::before,
::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
}

::before,
::after {
    --tw-content: '';
}

html, body {
    font-family: Poppins, 'Open Sans', Helvetica, sans-serif;
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    padding-left: 10px;
}

.relative {
    position: relative;
}
.inline-flex {
    display: inline-flex;
}
.items-center {
    align-items: center;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.focus\:z-10:focus {
    z-index: 10;
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.font-medium {
    font-weight: 500;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(88 103 221 / var(--tw-text-opacity));
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.leading-5 {
    line-height: 1.25rem;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.border {
    border-width: 1px;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.cursor-default {
    cursor: default;
}
.leading-5 {
    line-height: 1.25rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.z-0 {
    z-index: 0;
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.leading-5 {
    line-height: 1.25rem;
}
.hover\:text-gray-500:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.ring-gray-300 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}
.focus\:ring:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:border-blue-300:focus {
    --tw-border-opacity: 1;
    border-color: rgb(147 197 253 / var(--tw-border-opacity));
}
.active\:bg-gray-100:active {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.active\:text-gray-700:active {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.w-5 {
    width: 1.25rem;
}
.h-5 {
    height: 1.25rem;
}
.ajaxLoader {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    display: block;
    z-index: 9999;
    text-align: center;
}
.flag-icon {
    width: 15px;
    height: 15px;
}

.input-hint {
    color: #5a152b !important;
    padding-left: 3px;
    font-size: 0.8rem !important;
}
@media (min-width: 640px) {

    .sm\:-my-px {
        margin-top: -1px;
        margin-bottom: -1px;
    }

    .sm\:ml-0 {
        margin-left: 0px;
    }

    .sm\:ml-10 {
        margin-left: 2.5rem;
    }

    .sm\:ml-6 {
        margin-left: 1.5rem;
    }

    .sm\:block {
        display: block;
    }

    .sm\:flex {
        display: flex;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:h-20 {
        height: 5rem;
    }

    .sm\:max-w-md {
        max-width: 28rem;
    }

    .sm\:flex-1 {
        flex: 1 1 0%;
    }

    .sm\:items-center {
        align-items: center;
    }

    .sm\:justify-start {
        justify-content: flex-start;
    }

    .sm\:justify-center {
        justify-content: center;
    }

    .sm\:justify-between {
        justify-content: space-between;
    }

    .sm\:rounded-lg {
        border-radius: 0.5rem;
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .sm\:pt-0 {
        padding-top: 0px;
    }

    .sm\:text-left {
        text-align: left;
    }

    .sm\:text-right {
        text-align: right;
    }
}
